/* Bookshelf header */

h1 {
    font-size: 40px;
    font-weight: 500;
}

.bookshelf-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    column-gap: min(24px,10vw);
    width: 100%;
    flex-wrap: wrap;
    row-gap: 12px;
}

.bookshelf-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 68px;
}


.add-btn {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    border: 1px black solid;
    border-radius: 12px;
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.add-icon {
    width: 24px;
    height: 24px;
    
}

.bookshelf-filter {
    width: 324px;
    height: 32px;
    background: #F0E4DB;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.filter-switch {
    border: none;
    color: black;
    opacity: 0.6;
    font-weight: 700;
    width: 23%;
    background-color: #F0E4DB;
}

.filter-switch:hover {
    cursor: pointer;
}

.default {
    background-color: white;
    opacity: 1;
    border-radius: 20px;
    width: 24%;
    height: 28px;
}

/* Bookshelf */

.bookshelf-content-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0px 60px 0px;
    border: 1px dashed #F0E4DB;
    box-sizing: border-box;
    border-radius: 12px;
    width: 100%;


}

.empty {
    text-align: center;
}

.bookshelf-icon, .search-icon {
    width: 32px;
    height: 32px;
    margin-bottom: 8px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 8px;
}

p {
    font-weight: 400;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
}

/* Book shelf - full*/

.bookshelf-content-full {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 180px);
    justify-content: space-between;
    margin-bottom: 300px;
    margin-top: 24px;
    column-gap: 35px;
    row-gap: 24px;
}


.book-card {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

.book-card-image {
    width: 100%;
    border: 1px solid #F2E7DF;
    border-radius: 12px;
}

.book-card-link {
    text-decoration: none;
}


.book-card-title {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: black;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    margin-top: 8px;
    
    
}


/*Bookshelft tags*/


.readtag {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 4px 8px;   
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    max-width: 42px;
    height: 20px;
    color: #2A9C64;
    background-color: #CBEBDB;
    margin-top: 12px;
    margin-bottom: 4px;
}

.toreadtag {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 4px 8px;   
    background: #F2E7DF;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    max-width: 54px;
    height: 20px;
    margin-top: 12px;
    margin-bottom: 4px;
}

.readingtag {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 4px 8px;   
    background-color: #D4E4F8;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    max-width: 58px;
    height: 20px;
    color: #017BEB;
    margin-top: 12px;
    margin-bottom: 4px;

}


@media (max-width: 1120px) {
    .bookshelf-content-full {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fill, 20%);
        justify-content: space-between;
        margin-bottom: 300px;
        margin-top: 24px;
        column-gap: 35px;
        row-gap: 24px;
    }
    
}

@media (max-width: 768px) {
    .bookshelf-content-full {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fill,28%);
        justify-content: space-between;
        margin-bottom: 300px;
        margin-top: 24px;
        column-gap: 35px;
        row-gap: 24px;
    }
    
}

@media (max-width: 520px) {
    .bookshelf-content-full {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fill, 45%);
        justify-content: space-between;
        margin-bottom: 300px;
        margin-top: 24px;
        column-gap: 24px;
        row-gap: 24px;
    }
   
}