.header-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    padding: 12px 0px;
}

.header-search-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    padding: 12px 0px;
}

.header-user{
    grid-column-start: 3;
    justify-self: right;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.logged {
    color: black;
    margin-right: 24px;
}

.login-failed {
    color: red;
    opacity: 0.6;
    padding-bottom: 8px;
}

.header-entry {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header-login {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    border: none;

}

.header-login:hover,
.header-login:focus {
    cursor: pointer;
}

.logo {
   grid-column-start: 2;
   justify-self: center;
}

.back-btn {
    grid-column-start: 1;
    justify-self: flex-start;
    /* margin-left: 40px; */
}

/*Entry modal open and close*/

.entry-modal {
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    bottom:10;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;    
  }

.entry-modal-content {
    border-radius: 12px;
    min-height: 492px;
    width: 480px;
    margin: 0 40px;
}

.entry-modal-close {
    font-size: 32px;
    display: flex;
    justify-content: flex-end;
    padding: 8px 24px 0 0;
    border-radius: 12px 12px 0 0;
    color: rgba(0, 0, 0, 0.6);
}

.entry-modal-close:hover,
.entry-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Entry (log in, sign up) form*/

.entry-form-info {
    margin: 16px 0 40px 0;
}

.entry-form-elements {
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entry-form {
    width: 100%;
}

.entry-form-label {
    margin-bottom: 8px;
}

.entry-form-input {
    display: flex;
    flex-direction: column;
}

.entry-form-credentials {
    height: 48px;
    border: 1px solid #F0E4DB;
    border-radius: 12px;  
    background-color: white; 
    font-size: 18px;
    padding-left: 8px;
    margin-bottom: 24px;
}

.entry-form-credentials:focus {
    outline: none;
    text-decoration: none;
}


.entry-form-submit {
    width: 100%;
    margin-bottom: 24px;
}

.entry-form-submit:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}


.entry-switch {
    color: black;
    text-decoration: underline 1px;
    
}

.entry-switch:hover,
.entry-switch:focus {
    cursor: pointer;

}

@media (max-width: 520px) {
    .logged {
        display: none; 
    }

    .entry-form-info {
        margin: 16px 0 24px 0;
    }

    .entry-form-credentials {
        margin-bottom: 16px;
    }

    .login-failed{
        margin-bottom: 0px;
        
    }

    .entry-modal-close {
        font-size: 32px;
        padding: 0px 24px 0 0;
    }
    
   
}







