* {
    padding: 0px;
    margin: 0px;
    background-color: #FDFBF8;
    font-family: 'Crimson Pro', serif;
}

.main-container {
    max-width: 1040px;
    margin: 0 auto;
    padding-inline: min(40px, 16vh);
}